<!DOCTYPE html>
<html>
  <head>
    <!-- meta information -->
<meta charset="utf-8">
<meta name="description" 

      content="      {% include head.html %}              404         	  If there's a problem please tell me(jwhaydock@jackhaydock.c..." 
>
<meta name="author" content="Jack Haydock">
<meta name="image" content="http://www.jackhaydock.co.uk">

<!-- Twitter Meta -->
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="@JWHaydock"/>
<meta name="twitter:description" content="      {% include head.html %}              404         	  If there's a problem please tell me(jwhaydock@jackhaydock.c..."/>
<meta name="twitter:title" content="404"/>
<meta name="twitter:image" 

	content="http://www.jackhaydock.co.uk"
>
<meta name="twitter:domain" content="http://www.jackhaydock.co.uk/404"/>

<!-- Enable responsiveness on mobile devices-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

<!-- title -->
<title>404 &middot; Jack Haydock</title>

<!-- icons -->
<link rel="shortcut icon" href="/public/images/favicon.ico" />

<!-- stylesheets -->
<link rel="stylesheet" href="/public/css/responsive.gs.12col.css">
<link rel="stylesheet" href="/public/css/animate.min.css">
<link rel="stylesheet" href="/public/css/main.css">

<!-- Google fonts -->
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic&subset=latin-ext">



<!-- feed links -->
<link rel="alternate" href="http://www.jackhaydock.co.uk/feed.xml" type="application/rss+xml" title="">

  </head>
  <body>
    <div class="container not-found">
      <h1 class="bounceInDown animated">404</h1>
         <p id="error">
	  If there's a problem please tell me
<br>(jwhaydock@jackhaydock.co.uk)
<br>and I'll probably ignore you.
<br><a href="http://www.jackhaydock.co.uk"> Go To Home</a>
         </p>

	<a href="https://www.google.co.uk/search?q=snakes+with+hats&safe=off&client=ubuntu&hs=Lnr&channel=fs&tbm=isch&tbo=u&source=univ&sa=X&ved=0ahUKEwjmrIf-uOPTAhXLA8AKHQNaCskQsAQIJg&biw=1873&bih=953#imgrc=XeBGdNsh3xAepM:">
	<img src="/public/images/Untitled.png" height=80px width=80px
 style="margin-top: 1000px; margin-bottom: 50px;" align="right">
        </a>

    </div>
  </body>
</html>
