<!DOCTYPE html>
<html>
  <head>

    <!-- meta information -->
<meta charset="utf-8">

      <meta name="description" content="I'm not sure what I'll put here but I felt like creating this feed, just in case I need it.{% for post in site.catego...">

<meta name="author" content="Jack Haydock">

	<meta name="image" content="/public/images/logo.png">


<!-- Twitter Meta -->
<meta name="twitter:domain" content="/blog/">
<meta name="twitter:description" content="I'm not sure what I'll put here but I felt like creating this feed, just in case I need it.{% for post in site.catego...">
<meta name="twitter:title" content="Blog">

  <meta name="twitter:card" content="summary">
	<meta name="twitter:image" content="/public/images/logo.png">


<!-- Enable responsiveness on mobile devices-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

<!-- title -->
<title>Blog &middot; Jack Haydock</title>

<!-- icons -->
<link rel="shortcut icon" href="/public/images/favicon.ico" />

<!-- stylesheets -->
<link rel="stylesheet" href="/public/css/responsive.gs.12col.css">
<link rel="stylesheet" href="/public/css/animate.min.css">
<link rel="stylesheet" href="/public/css/main.css">

<!-- Google fonts -->
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic&subset=latin-ext">



<!-- feed links -->
<link rel="alternate" href="http://www.jackhaydock.co.uk/feed.xml" type="application/rss+xml" title="">


  </head>
  <body>

      <div class="container azul">

      <header class="top row gutters">

        <div class="col span_2 center">
          <!-- TODO: add baseurl to the logo link -->
          <a href="/" id="logo" title="Jack Haydock"
             style="background-image: url(/public/images/logo.png);">
           </a>
        </div><nav class="col span_10 top-navbar">

  

  <a href="/" title="Home"
     >Home</a>
  

  <a href="/projects/" title="Projects"
     >Projects</a>
  

  <a href="/art/" title="Art"
     >Art</a>
  

  <a href="/blog/" title="Misc"
     >Misc</a>
  

  <a href="/about/" title="About"
     >About</a>
  
</nav>


      </header>

      I'm not sure what I'll put here but I felt like creating this feed, just in case I need it.

<div class="bundle row gutters fadeInDown animated">

<section class="archive">


<!--Post Links -->

<article class="row gutters">
<div class="post-date col span_4">
<a href="/posts/2017/puzzle" title="Puzzle Gauntlet" class="col span_8 postlink">
<strong>
Puzzle Gauntlet
</strong>
	<br>
      <time datetime="2017-07-01">1 July 2017</time>
    </div>
<img src=/public/post-thumbnails/2017/puzzle.png alt='Puzzle Gauntlet'>
</a>



  </article>





<!--Post Links -->

<article class="row gutters">
<div class="post-date col span_4">
<a href="/posts/2017/blog1" title="New Blog" class="col span_8 postlink">
<strong>
New Blog
</strong>
	<br>
      <time datetime="2017-06-26">26 June 2017</time>
    </div>
<img src=/public/post-thumbnails/2017/bubble.png alt='New Blog'>
</a>



  </article>

</div></div>


</section>


      <footer>
        <p>

	Contact me:
<br>jwhaydock@jackhaydock.co.uk
<br>
<br>

	This website is hosted on
 <a href="https://github.com/jackhaydock/jackhaydock2.github.io" target="blank">GitHub</a>
 and was originally created using
 <a href="https://jekyllrb.com/" target="blank">Jekyll</a>
 and the
 <a href="http://jekyllthemes.org/themes/brume/" target="blank">brume</a>
 theme
 created by Aigars Dzerviniks, licensed under an
 <a rel="license" href="https://github.com/aigarsdz/brume/blob/master/LICENSE.md" target="blank">MIT License</a>.
        </p>
      </footer>

</div>

<!-- scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/public/js/jquery.fitvids.js"></script>
    <script>
      $(document).ready(function(){
        $("article").fitVids();
      });
    </script>


  </body>
</html>
